@page "/expedientes/agregar"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteAlta CasoAlta
@inject NavigationManager Navigation
@inject SesionActual Sesion
<PageTitle>SGE | Expedientes</PageTitle>

<form class="form" @onsubmit="() => Agregar(_e)">
    <p id="heading">Agregar Expediente</p>
    <div class="field">
        <input class="input" placeholder="Caratula" @bind="_e.Caratula">
    </div>
    <div class="field">
        <select class="input" @bind="_strEstado">
            <option value="" disabled selected>Seleccione un estado</option>
            <option>RecienIniciado</option>
            <option>ParaResolver</option>
            <option>ConResolucion</option>
            <option>EnNotificacion</option>
            <option>Finalizado</option>
        </select>
    </div>
    <div class="div-btn">
        <button type="submit" class="button">Aceptar</button>
    </div>
</form>
<CuadroDialogo @ref=_dialogo Mensaje=@_error />


@code {
    CuadroDialogo _dialogo = null!;
    Usuario _user = new();
    Expediente _e = new();
    string _strEstado = "";
    string _error = "";

    protected override void OnInitialized()
    {
        if (Sesion.User is not null)
        {
            _user = Sesion.User;
        }
    }

    void Agregar(Expediente e)
    {
        try
        {
            e.Estado = (EstadoExpediente)Enum.Parse(typeof(EstadoExpediente), _strEstado);
            CasoAlta.Ejecutar(e, _user);
            Navigation.NavigateTo($"/expedientes/lista");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            if (_error == "Must specify valid information for parsing in the string. (Parameter 'value')")
            {
                _error = "Debe seleccionar un estado";
            }
            _dialogo.Mostrar();
        }

    }
}

<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1f2937;
        width: 420px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2em;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 10px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #374151;
    }

    .input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    option {
        background-color: #374151;
        color: #d3d3d3;
        padding: 1rem;
    }

    .div-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5em;
        padding: .375rem .75rem;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }
</style>