@inherits LayoutComponentBase
@inject SesionActual Sesion
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta

<div class="page">
    <header>
        <img class="logo" src="./favicon.png" alt="logo"/>
        <nav>
            <ul class="nav-links">
                <li><a href="/expedientes/lista">Expedientes</a></li>
                <li><a href="/tramitelistar">Tramites</a></li>
                @if (Sesion.User.Id == 1)
                {
                    <li><a href="/gestion">Usuarios</a></li>
                }
            </ul>
        </nav>
        <a class="cta" href="#"><button class="btn-header">Cuenta</button></a>
    </header>
    <main class="content px-4">
        @Body
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <a class="footer-title text-white">
                    <span>SGE</span>
                </a>
            </div>
        </div>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        try
        {
            Sesion.User = UsuarioConsulta.Ejecutar(Sesion.User.Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message); // TEMPORAL
        }
    }
}