@inject Session Session

<div>
    <nav class="div-nav">
        @if (Session.User is not null)
        {
            <ul class="nav-links">
                <li><a href="/files">Files</a></li>
                <li><a href="/procedures">Procedures</a></li>
                @if (Session.User.IsAdmin)
                {
                    <li><a href="/users">Users</a></li>
                }
            </ul>
            <a href="/account"><button class="btn-header">Account</button></a>
        }
    </nav>
</div>

<style>
    .div-nav {
        display: flex;
        align-items: baseline;
    }

    .nav-links {
        list-style: none;
    }

        .nav-links li {
            display: inline-block;
            padding: 0px 20px;
            font-weight: 500;
            font-size: 16px;
            color: #edf0f1;
            text-decoration: none;
        }

            .nav-links li a {
                transition: all 0.3s ease 0;
                font-weight: 500;
                font-size: 16px;
                color: #edf0f1;
                text-decoration: none;
            }

    .btn-header {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: #1b6ec2;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
        .btn-header:hover {
            background-color: #0b5ed7;
        }
</style>