@page "/procedures/update/{Id:int}"
@rendermode InteractiveServer
@inject UpdateProcedureUseCase UpdateProcedureCase
@inject GetProcedureByIdUseCase GetProcedureCase
@inject NavigationManager Navigation
@inject Session Session
<PageTitle>FMS | Procedures</PageTitle>

<form class="form" @onsubmit="Update">
    <p id="heading">Update Procedure #@_procedure.Id</p>
    <div class="field">
        <input type="text" class="input" placeholder="Content" @bind="_procedure.Content" @ref="_content">
    </div>
    <div class="field">
        <select class="input" @bind="_procedure.Label" @ref="_label">
            <option value="" disabled selected>Select a label</option>
            @foreach (ProcedureLabel label in Enum.GetValues(typeof(ProcedureLabel)))
            {
                <option>@label</option>
            }
        </select>
    </div>
    <div class="div-btn">
        <button type="submit" class="button">Save changes</button>
    </div>
</form>
<DialogueError @ref=_dialogue />

@code {
    [Parameter] public int Id { get; set; }
    DialogueError _dialogue = null!;
    Procedure _procedure = new();
    ElementReference _content;
    ElementReference _label;

    protected override void OnInitialized()
    {
        try
        {
            _procedure = GetProcedureCase.Execute(Id);
        }
        catch
        {
            Navigation.NavigateTo("/procedures");
        }
    }

    void Update()
    {
        try
        {
            UpdateProcedureCase.Execute(_procedure, Session.User!);
            Navigation.NavigateTo($"/procedures/{(int)Math.Ceiling(_procedure.Id / 5.0)}");
        }
        catch (Exception ex)
        {
            if (ex.Message == "Must specify valid information for parsing in the string. (Parameter 'value')")
            {
                _dialogue.Show("Must select a label");
            }
            else
            {
                _dialogue.Show(ex.Message);
            }
        }
    }
}

<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1f2937;
        width: 420px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2em;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 10px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #374151;
    }

    .input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    option {
        background-color: #374151;
        color: #d3d3d3;
        padding: 1rem;
    }

    .div-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5em;
        padding: .375rem .75rem;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }
</style>