@page "/home"
<PageTitle>FMS | Home</PageTitle>
@inherits LayoutComponentBase

<div class="container">
    <h2>File Management System</h2>
    <h4>Features</h4>
    <ul>
        <li>Enables the effective organization and administration of files and procedures. Both elements will be managed and persisted independently.</li>
        <li>Manages users and their respective permissions. All users will have read access to both entities.</li>
        <li>
            The first user to register in the system will be the Administrator, only he will have the necessary permissions to list, delete and update any user or their permissions.
        </li>
        <li>To perform additions, deletions or modifications, explicit permissions will be required.</li>
        <li>Performs validations to prevent the entry of elements that do not satisfy certain requirements.</li>
    </ul>
</div>

<style>
    .container {
        background-color: #1f2937;
        width: 65%;
        padding: 1.8rem 2rem;
        border-radius: 10px;
    }
</style>
