@page "/usuarios/permisos/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioOtorgarPermiso OtorgarPermiso
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta
@inject CasoDeUsoUsuarioQuitarPermiso QuitarPermiso
<PageTitle>SGE | Usuarios</PageTitle>

<div class="div-container">
    <p id="heading">Permisos de @_user.Nombre @_user.Apellido</p>
    <table class="table text-white p-2">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Permiso p in _permisos)
            {
                <tr>
                    <td>@_user.GetPermisoParsed(p)</td>
                    <td>
                        @if (EstaDisponible(p))
                        {
                            <button class="btn btn-danger quitar" @onclick="() => Quitar(p)">Quitar</button>
                        }
                        else
                        {
                            <button class="btn btn-success" @onclick="() => Otorgar(p)">Otorgar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<CuadroDialogo @ref="_dialogo" Mensaje=@_error />

@code {
    [Parameter] public int Id { get; set; }
    CuadroDialogo _dialogo = null!;
    string _error = "";
    Usuario _user = new();
    List<Permiso> _permisos =
    [
        Permiso.ExpedienteAlta,
        Permiso.ExpedienteBaja,
        Permiso.ExpedienteModificacion,
        Permiso.TramiteAlta,
        Permiso.TramiteBaja,
        Permiso.TramiteModificacion
    ];

    protected override void OnInitialized()
    {
        try
        {
            _user = UsuarioConsulta.Ejecutar(Id);
        }
        catch
        {
            Navigation.NavigateTo("/");
        }
    }

    bool EstaDisponible(Permiso p) => _user.Permisos.Any(x => x == p);

    void Quitar(Permiso p)
    {
        QuitarPermiso.Ejecutar(_user.Id, p);
        OnInitialized();
    }

    void Otorgar(Permiso p)
    {
        OtorgarPermiso.Ejecutar(_user.Id, p);
        OnInitialized();
    }
}

<style>
    .div-container {
        background-color: #1f2937;
        width: 35%;
        padding: 1.3rem 2rem;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 1rem;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }

    .quitar {
        width: 88px;
    }
</style>