@page "/account/change-password"
@rendermode InteractiveServer
@inject Session Session
@inject UpdateUserPasswordUseCase UpdateUserCase
@inject NavigationManager Navigation
<PageTitle>FMS | Account</PageTitle>

<form class="form" @onsubmit="Change">
    <p id="heading">Change Password</p>
    <div class="field">
        <input type="password" class="input" placeholder="Current password" @bind="_password" />
    </div>
    <div class="field">
        <input type="password" class="input" placeholder="New password" @bind="_newPassword" />
    </div>
    <div class="field">
        <input type="password" class="input" placeholder="Repeat new password" @bind="_repPassword" />
    </div>
    <div class="div-btn">
        <button type="submit" class="button">Change</button>
    </div>
</form>
<DialogueError @ref=_dialogue />

@code {
    DialogueError _dialogue = null!;
    string _password = "";
    string _newPassword = "";
    string _repPassword = "";

    void Change()
    {
        try
        {
            if (!_repPassword.Equals(_newPassword))
            {
                throw new UserException("Passwords must match");
            }
            UpdateUserCase.Execute(Session.User!, _password, _newPassword);
            Navigation.NavigateTo($"/account");
        }
        catch (Exception ex)
        {
            _dialogue.Show(ex.Message);
        }
    }
}

<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1f2937;
        width: 420px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2em;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 10px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #374151;
    }

    .input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    option {
        background-color: #374151;
        color: #d3d3d3;
        padding: 1rem;
    }

    .div-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5em;
        padding: .375rem .75rem;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }
</style>