@page "/cuenta"
@rendermode InteractiveServer
@inject SesionActual Sesion
@inject CasoDeUsoUsuarioModificacion CasoModificacion
@inject NavigationManager Navigation
<PageTitle>SGE | Cuenta</PageTitle>

<form class="form">
    <p id="heading">Datos Personales</p>
    @if (!_editar)
    {
        <div class="field">
            <input readonly class="input" type="text" placeholder="Nombre" @bind="_user.Nombre" />
        </div>
        <div class="field">
            <input readonly class="input" type="text" placeholder="Apellido" @bind="_user.Apellido" />
        </div>
        <div class="field">
            <input readonly class="input" type="text" placeholder="Email" @bind="_user.Email" />
        </div>
        <div class="div-toggle">
            <button type="button" class="button" @onclick="Toggle">Modificar datos</button>
        </div>
    }
    else
    {
        <div class="field">
            <input class="input" type="text" placeholder="Nombre" @bind="_nombre" />
        </div>
        <div class="field">
            <input class="input" type="text" placeholder="Apellido" @bind="_apellido" />
        </div>
        <div class="field">
            <input class="input" type="text" placeholder="Email" @bind="_email" />
        </div>
        <div class="field">
            <input class="input" type="password" placeholder="Confirmar contraseña" @bind="_password" />
        </div>
        <div class="div-btn">
            <button type="button" class="button" @onclick="Editar">Guardar cambios</button>
        </div>
    }
    <div class="div-btn">
        <button type="button" class="button pw" @onclick="CambiarContraseña">Cambiar contraseña</button>
        <button type="button" class="button cs" @onclick="CerrarSesion">Cerrar sesion</button>
    </div>
</form>
<CuadroDialogo @ref=_dialogo Mensaje=@_error />

@code {
    Usuario _user = new();
    CuadroDialogo _dialogo = null!;
    string _error = "";
    string _nombre = "";
    string _apellido = "";
    string _email = "";
    string _password = "";
    bool _editar = false;

    void Toggle() => _editar = !_editar;
    void CambiarContraseña() => Navigation.NavigateTo($"auth/change-password");

    protected override void OnInitialized()
    {
        try
        {
            if (Sesion.User is not null)
            {
                _user = Sesion.User;
                _nombre = _user.Nombre;
                _apellido = _user.Apellido;
                _email = _user.Email;
            }
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _dialogo.Mostrar();
        }
    }

    void Editar()
    {
        try
        {
            CasoModificacion.Ejecutar(_user, _password);
            Toggle();
            _password = "";
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _dialogo.Mostrar();
        }
    }

    void CerrarSesion()
    {
        Sesion.User = null;
        Navigation.NavigateTo("/");
    }
}

<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1f2937;
        width: 510px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2em;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 10px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #374151;
    }

    .input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    option {
        background-color: #374151;
        color: #d3d3d3;
        padding: 1rem;
    }

    .div-toggle {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding: .375rem .75rem;
    }

    .div-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        padding: .375rem .75rem;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }

    .pw {
        background-color: #6C757D;
    }

    .cs {
        background-color: #C82333;
        width: 202px;
    }
</style>