@page "/cuenta/editar"
@rendermode InteractiveServer
@inject SesionActual Sesion
@inject CasoDeUsoUsuarioModContraseña CasoModificacion
@inject NavigationManager Navigation
<PageTitle>SGE | Cuenta</PageTitle>

<form class="form" @onsubmit="Cambiar">
    <p id="heading">Cambiar Contraseña</p>
    <div class="field">
        <input type="password" class="input" placeholder="Contraseña" @bind="_password" />
    </div>
    <div class="field">
        <input type="password" class="input" placeholder="Nueva contraseña" @bind="_newPassword" />
    </div>
    <div class="field">
        <input type="password" class="input" placeholder="Repetir contraseña" @bind="_repPassword" />
    </div>
    <div class="div-btn">
        <button type="submit" class="button">Cambiar</button>
    </div>
</form>
<CuadroDialogo @ref=_dialogo Mensaje=@_error />

@code {
    Usuario _user = new();
    CuadroDialogo _dialogo = null!;
    string _error = "";
    string _password = "";
    string _newPassword = "";
    string _repPassword = "";

    protected override void OnInitialized()
    {
        if (Sesion.User is not null)
        {
            _user = Sesion.User;
        }
    }

    void Cambiar()
    {
        try
        {
            if (!_repPassword.Equals(_newPassword))
            {
                _error = "La contraseña no coincide";
                _dialogo.Mostrar();
                return;
            }
            CasoModificacion.Ejecutar(_user, _password, _newPassword);
            Navigation.NavigateTo("/cuenta");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _dialogo.Mostrar();
        }
    }
}

<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #1f2937;
        width: 420px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        border-radius: 10px;
    }

    #heading {
        text-align: center;
        margin: 2em;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 10px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #374151;
    }

    .input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    option {
        background-color: #374151;
        color: #d3d3d3;
        padding: 1rem;
    }

    .div-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5em;
        padding: .375rem .75rem;
    }

    .button {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #2563EB;
        color: white;
    }
</style>